body {
  background-color: #a0c1f7;
  padding: 20px;
  margin: 0;
  font-family: sans-serif;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

table, th, tr, td {
  border: 1px solid black;
}

select {
  width: 100%
}

.active {
  background-color: #0099FF;
}
